<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            Homework 5
        {% endblock %}
    </title>
</head>
<body>
<div class="container-fluid">
    <ul class="nav nav-pills justify-content-end align-items-end">
        <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/users/" class="nav-link">Пользователи</a></li>
    </ul>

    {% block content %}
        Страница не заполнена
    {% endblock %}

</div>
</body>
</html>